<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <display-name>Archetype Created Web Application</display-name>

  <context-param>
    <param-name>a_context</param-name>
    <param-value>55</param-value>
  </context-param>
  <context-param>
    <param-name>b_context</param-name>
    <param-value>66</param-value>
  </context-param>

  <listener>
    <listener-class>com.java.listeners.AppContextListener</listener-class>
  </listener>

  <listener>
    <listener-class>com.java.listeners.RequestContextListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>home</servlet-name>
    <servlet-class>com.java.servlets.HomePageServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>aboutUs</servlet-name>
    <servlet-class>com.java.servlets.AboutUsServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>servletLifeCycle</servlet-name>
    <servlet-class>com.java.servlets.ServletLifeCycleExample</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>queryStringServlet</servlet-name>
    <servlet-class>com.java.servlets.QueryStringServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>servletParamsServlet</servlet-name>
    <servlet-class>com.java.servlets.ServletParams</servlet-class>
    <init-param>
      <param-name>x_servlet</param-name>
      <param-value>100</param-value>
    </init-param>
    <init-param>
      <param-name>y_servlet</param-name>
      <param-value>200</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>employeeServlet</servlet-name>
    <servlet-class>com.java.servlets.EmployeeServlet</servlet-class>
  </servlet>


  <servlet>
    <servlet-name>signUpServlet</servlet-name>
    <servlet-class>com.java.api.controller.SignUpServlet</servlet-class>
  </servlet>


  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.java.api.controller.LoginServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>expensesServlet</servlet-name>
    <servlet-class>com.java.api.controller.ExpensesServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>expensesServlet</servlet-name>
    <url-pattern>/api/expenses</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>signUpServlet</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>employeeServlet</servlet-name>
    <url-pattern>/employees</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>servletParamsServlet</servlet-name>
    <url-pattern>/params</url-pattern>
  </servlet-mapping>




  <servlet-mapping>
    <servlet-name>queryStringServlet</servlet-name>
    <url-pattern>/query</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>


  <servlet-mapping>
    <servlet-name>aboutUs</servlet-name>
    <url-pattern>/about-us</url-pattern>
  </servlet-mapping>



  <filter>
    <filter-name>applicationFilter</filter-name>
    <filter-class>com.java.filters.ApplicationRequestFilter</filter-class>
  </filter>


  <filter>
    <filter-name>homePageFilter</filter-name>
    <filter-class>com.java.filters.HomePageRequestFilter</filter-class>
  </filter>

  <filter>
    <filter-name>filterParams</filter-name>
    <filter-class>com.java.filters.FilterParams</filter-class>
    <init-param>
      <param-name>x_filter</param-name>
      <param-value>105</param-value>
    </init-param>
    <init-param>
      <param-name>y_filter</param-name>
      <param-value>205</param-value>
    </init-param>
  </filter>

  <filter>
    <filter-name>authTokenFilter</filter-name>
    <filter-class>com.java.api.filters.AuthTokenFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>authTokenFilter</filter-name>
    <url-pattern>/api/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>filterParams</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>applicationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>homePageFilter</filter-name>
    <url-pattern>/home</url-pattern>
  </filter-mapping>


</web-app>
